@import "variables.scss";

body {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  color: $body-color !important;
  line-height: $body-ling-height;
}

.btn {
  text-align: center !important;
  letter-spacing: 3px !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
  padding: 20px 60px !important;
  border-radius: 30px !important;
  height: 60px !important;

  &--main {
    @extend .btn;
    background: $btn-bg-color 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 2px 10px #00000033 !important;
    color: white !important;

    &:hover {
      background-color: $btn-hover-bg-color !important;
    }
  }

  &--alt {
    @extend .btn;
    border: 1px solid white;
    padding: 20px 40px !important;
  }

  &--hidden-text {
    @extend .btn;
    padding: 0px !important;
    border: none;
  }

}

.menu-item {
  font-size: 13px !important;
  font-weight: regular;
  line-height: 18px !important;
  text-align: center;
  letter-spacing: 3px !important;
  color: #FFFFFF;
  text-transform: uppercase !important;
  margin-right: 30px;

  &--vertical {
    @extend .menu-item;
    margin-right: 0 !important;
    margin-bottom: 20px !important;

  }
}

.super-title {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 18px;
  display: block;
  ;

  &--with-shadow {
    @extend .super-title;
    text-shadow: 0px 0px 4px #000000;
  }
}

.main-title {
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -1px;

  &--with-shadow {
    @extend .main-title;
    text-shadow: 0px 0px 4px #000000;
  }

  &-mobile {
    font-size: 32px;
    line-height: 38px;
  }
}
